@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

* {
  font-family: "poppins";
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f4f5f6;
}

button {
  font-family: "poppins";
}
